
.modal-dialog.modal-dialog-centered {
    width: 80vw !important;
    max-width: none;
    height: 80vh !important;
    max-height: none;

    margin: 1.75rem auto;
}

.modal-content {
    padding: 20px;
    height: 80%;
    overflow-y: scroll;
}

.modal-body {
    padding: 0 !important;
    height: 80%; /* 필요에 따라 height 설정 */
}
