
.modal-dialog.modal-dialog-centered {
    width: 80vw !important;
    max-width: none;
    height: 80vh !important;
    max-height: none;

    margin: 1.75rem auto;
}

.modal-content {
    padding: 20px;
    height: 80%;
}
