.left-box {
    width: 80% !important;
}

/* 입력창 스타일 */
.answer-input-container {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

/* 입력창 텍스트박스 스타일 */
.user-answer {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

/* 제출 버튼 스타일 */
.descriptive-answer-btn, .descriptive-description-btn {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* AI 답변 창 스타일 */
.ai-answer-container {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.6;
    /*color: #999;*/
}

/* 버튼 그룹 스타일 */
.button-group {
    display: flex;
    gap: 10px; /* 버튼 간격 */
    justify-content: flex-start; /* 버튼을 왼쪽 정렬 */
}

/**
AI 답변 로딩창
 */
.loading-spinner {
    font-size: 1.2rem;
    color: #007bff;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    display: none;
}
