.description-box {
    width: 100%;
    height: 100%; /* 전체 높이의 30% */
    padding: 1%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    /*overflow-y: auto; !* 스크롤 가능하도록 설정 *!*/
}

.descriptionToggle {
    display: flex;
    height: 38px;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;

    cursor: pointer;
    padding: 2%;
    background-color: #e6e6e6;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.text-wrapper-10 {
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "NanumSquare Neo OTF-cBd", Helvetica;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
    font-weight: 400;
    color: #000000;
}

.description-container {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%; /* 가로폭 최대화 */
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    height: 30%; /* 챗봇창을 전체 높이의 60%로 고정 */
    overflow-y: auto;
    padding: 1%; /* 테두리와 텍스트 간격 설정 */
}

.description-content {
    padding: 1%;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

.chatbot-container {
    margin-top: 2%;
    width: 100%; /* 가로폭 최대화 */
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    height: 55%; /* 챗봇창을 전체 높이의 60%로 고정 */
    overflow: hidden;
}

.chatbot-messages {
    flex: 1; /* 채팅 메시지 창이 나머지 공간을 차지하도록 설정 */
    overflow-y: auto;
    padding: 2%;

    border-bottom: 1px solid #ddd;
}

.chatbot-input {
    display: flex;
    padding: 2%;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
}

.chatbot-input textarea {
    flex: 1;
    padding: 1%;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
    overflow-y: auto; /* 내용이 넘치면 스크롤 가능 */
    height: auto; /* 높이 자동 조정 */
    max-height: 80px; /* 최대 높이 설정 (3줄 정도) */
}

.chatbot-input button {
    margin-left: 2%;
    padding: 1% 2%;
    font-size: 14px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}


/* 메시지 스타일 */
.message {
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    max-width: 99%; /* 말풍선 최대 너비 */
    line-height: 1.4;
    word-break: break-word;
    position: relative;
}

/* 오른쪽 정렬: 사용자 메시지 */
.message.user {
    background-color: #e6efff;
    align-self: flex-end;
    text-align: right;
}

/* 왼쪽 정렬: 봇 메시지 */
.message.bot {
    background-color: #ffffff;
    align-self: flex-start;
    text-align: left;
}
