<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- 모달 헤더: 닫기 버튼 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- 문제 본문 영역 -->
            <div class="modal-body content">
                <p class="questionItem" th:text="${question.content}">
                <div th:if="${question.imageUrl != null}">
                    <img alt="Question Image" class="question-image" th:src="${question.imageUrl}"/>
                </div>
                </p>
                <div class="choice-list" th:if="${multipleChoice}">
                    <!-- 선택지 리스트 반복 렌더링 및 번호 추가 -->
                    <div class="choice-item"
                         th:data-answer-status="${choice.answerStatus}"
                         th:data-choice-id="${choice.id}"
                         th:data-choice-text="${choice.content}"
                         th:each="choice, choiceStat : ${question.questionChoices}"
                         th:text="${choiceStat.index + 1} + '. ' + ${choice.content}">
                    </div>
                </div>
                <!--                <p th:text="${questionContent}">문제 내용이 여기에 표시됩니다.</p>-->
            </div>

            <!-- 구분선 -->
            <hr/>

            <!-- 댓글 입력 영역 -->
            <div class="modal-body comment-input">
                <h5 class="modal-comment-title"></h5>
                <textarea id="newComment" placeholder="댓글을 입력하세요..." rows="3" style="width: 100%;"></textarea>
                <button type="button" class="btn btn-primary" onclick="submitComment()">댓글 등록</button>
            </div>
            <!-- 댓글 목록 영역 -->
            <div class="modal-body comment-list">
                <h5 class="modal-comment-title">댓글 목록</h5>
                <div th:each="comment : ${comments}">
                    <div class="comment-item">
                        <p th:text="${comment.content}">댓글 내용</p>
                        <p><strong>작성자:</strong> <span th:text="${comment.memberId}">작성자 아이디</span></p>
                        <p><strong>작성일:</strong> <span th:text="${comment.createdAt}">작성일</span></p>
                    </div>
                    <hr/> <!-- 각 댓글 사이 구분선 -->
                </div>
            </div>

            <!-- 모달 푸터: 닫기 버튼 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
