<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBBR8GH8H9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-QBBR8GH8H9');
    </script>
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <link rel="icon" th:href="|${baseUrl}/img/mainLogo.svg|" type="image/svg+xml">

    <meta name="description" th:content="${description}">

    <link rel="stylesheet" th:href="|${baseUrl}/css/global.css|"/>
    <link rel="stylesheet" th:href="|${baseUrl}/css/question/style.css|"/>
    <link rel="stylesheet" th:href="|${baseUrl}/css/question/chatbot.css|"/>
    <link rel="stylesheet" th:href="|${baseUrl}/css/question/commentModal.css|"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <script th:src="|${baseUrl}/js/solveQuestion.js|"></script>
    <script th:src="|${baseUrl}/js/showQuestionUi.js|"></script>
    <script th:src="|${baseUrl}/js/translateTextForHtml.js|"></script>
    <script th:src="|${baseUrl}/js/chatbot.js|"></script>
    <script th:src="|${baseUrl}/js/loadComment.js|"></script>

</head>
<body>
<header class="header">
    <div class="auth-container">
            <span th:if="${isLogin}">
<!--                <span th:text="${#request.userPrincipal.name}">사용자</span>-->
                <a href="/logout">로그아웃</a>
            </span>
        <span th:if="${!isLogin}">
                <a class="login-button" href="/oauth2/authorization/cognito">로그인</a>
            </span>
    </div>
</header>
<div class="quiz">
    <!--    문제 타입(전공 or 자격증)-->
    <input id="questionType" th:value="${isMajorQuestion ? 'major' : 'license'}" type="hidden"/>

    <!-- 상단 제목 -->
    <!--    <div class="logo-box">Com Ssa</div>-->
    <h1 class="session-box"
        th:text="${questionSession}"></h1>
    </h1>

    <div class="left-sidebar">
        <p>총 문제 수: <span id="totalQuestionsCount">0</span></p>
        <!--        <p>맞은 문제: <span id="correctQuestions">0</span></p>-->
        <!--        <p>틀린 문제: <span id="incorrectQuestions">0</span></p>-->
        <div class="question-bar">
            <div id="questionList"></div>
        </div>
    </div>
    <!-- 왼쪽 질문 리스트 박스 -->
    <input id="multipleChoice" th:value="${multipleChoice}" type="hidden"/>
    <div class="left-box">
        <!-- 질문 리스트 반복 렌더링 -->
        <div class="category" th:each="category, iterStat : ${questions}">
            <div class="categoryTitleBox">
                <div class="category-text" th:text="${category.questionCategory.korean}">문제 분야</div>
            </div>
            <div class="question-box" th:data-question-index="${iterStat.index}"
                 th:each="question, iterStat : ${category.responseMultipleChoiceQuestionDtoList}">
                <div class="each-question" th:data-description="${question.description}">
                    <div class="question-meta-data">
                        <div class="quiz-number">
                            <div class="questionIndex" th:text="${iterStat.index + 1} + '번'"></div>
                        </div>
                        <div class="level-show-box" id="levelBox" th:data-level="${question.questionLevel.korean}">
                            <div class="level-show-text" th:text="${question.questionLevel.korean}"></div>
                        </div>
                        <div class="questionResult"></div> <!-- 정답/오답 여부를 여기에 표시 -->
                    </div>
                    <div class="questions">
                        <p class="questionItem" th:text="${question.content}">
                        <div th:if="${question.imageUrl != null}">
                            <img alt="Question Image" class="question-image" th:src="${question.imageUrl}"/>
                        </div>
                        </p>
                        <div class="choice-list" th:if="${multipleChoice}">
                            <!-- 선택지 리스트 반복 렌더링 및 번호 추가 -->
                            <div class="choice-item"
                                 th:data-answer-status="${choice.answerStatus}"
                                 th:data-choice-id="${choice.id}"
                                 th:data-choice-text="${choice.content}"
                                 th:each="choice, choiceStat : ${question.questionChoices}"
                                 th:text="${choiceStat.index + 1} + '. ' + ${choice.content}">
                            </div>
                        </div>
                    </div>
                    <!-- 정답 여부에 따른 표시 -->
                    <!-- 여기서 정답/오답 여부를 표시 -->
                </div>
            </div>
        </div>
    </div>


    <!-- 오른쪽 박스 -->
    <div class="right-box">
        <div class="answer-box">
            <!-- 채점 버튼 -->
            <button class="check-button" id="checkButton">채점</button>
            <div class="answer-status-box" id="answerBox" style="display: none;">
                <div class="answer-status-text" id="answerText"></div>
            </div>
        </div>
        <!-- 해설 보기 -->
        <div class="description-box">
            <div class="descriptionToggle">
                <div class="text-wrapper-10" id="toggleDescription">해설 보기 ▼</div>
            </div>
            <!-- 해설 내용 -->
            <div class="description-container" id="descriptionContent">
                <p class="descriptionText" id="descriptionText" style="display: none">해설 내용이 여기에 표시됩니다.</p>
            </div>
            <div class="descriptionToggle">
                <div class="text-wrapper-10">Chat GPT 4o mini</div>
            </div>
            <button class="commentButton" onclick="loadComments()">댓글 보기</button>
            <!--            챗봇 내용-->
            <div class=" chatbot-container">
                <div class="chatbot-messages" id="chatbotMessages">
                    <!-- 메시지들이 여기에 추가됩니다. -->
                </div>
                <div class="chatbot-input">
                    <textarea id="chatbotInput" placeholder="질문을 입력하세요..." rows="3"></textarea>
                    <button onclick="sendMessage()">전송</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 메인화면 버튼 -->
    <div class="mainPageFrame">
        <img class="back-to" th:src="|${baseUrl}/img/back-to.svg|"/>
        <div class="text-wrapper-8">메인화면</div>
    </div>
</div>

<footer style="position: absolute; bottom: 0; width: 100%; text-align: center; padding: 1em; background-color: #f2f4f7; font-size: 0.8vw; color: #333;">
    <p>문제 오류 제보 및 문의사항: <a href="https://open.kakao.com/o/sHIYrIXg"
                           target="_blank">https://open.kakao.com/o/sHIYrIXg</a></p>
    <p>Email: <a href="mailto:solve.comssa@gmail.com">solve.comssa@gmail.com</a></p>
</footer>
</body>
</html>
