/* 전체 폰트 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* 페이지 타이틀 스타일 */
h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 40px;
}

/* 카테고리 타이틀 스타일 */
h2 {
    color: #2980b9;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* 질문 박스 스타일 */
.question-container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dcdcdc; /* 각 질문마다 구분선 추가 */
    margin-bottom: 20px;
    padding: 20px;
}

/* 질문 텍스트 스타일 */
.questionItem {
    font-size: 1.2em;
    font-weight: bold;
    color: #34495e;
}

/* 해설 텍스트 스타일 (파란색) */
.descriptionUpdateText {
    font-size: 0.9em;
    margin-bottom: 15px;
    color: #2980b9; /* 파란색 */
}

/* 오버레이 입력 필드 스타일 */
.overlay-input {
    position: absolute;
    background-color: white;

    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 추가 */
    width: 100%;
}

.overlay-input textarea {

    width: 100%;
    min-height: 300px; /* 최소 높이 설정 */
    max-height: 1000px; /* 최대 높이 설정 */
    border: 1px solid #3498db;
    resize: vertical; /* 수직으로만 크기 조절 가능 */
    outline: none;
    font-family: inherit;
    padding: 5px;
}

.overlay-input button {
    margin-top: 5px;
    /*padding: 3px 10px;*/
    cursor: pointer;
}

/* 편집 가능한 요소에 호버 효과 추가 */
.editable-container > * {
    transition: background-color 0.3s ease;
}

.editable-container > *:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


/* 선택지 리스트 스타일 */
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    font-size: 0.9em;
    margin-bottom: 5px;
}

/* 정답 스타일 */
ul li .answer {
    font-weight: bold;
    color: #27ae60;
}

/* 라벨과 체크박스의 정렬 */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container label {
    margin-right: 10px;
    font-size: 0.9em;
}

/* 체크박스 스타일 */
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
