<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBBR8GH8H9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QBBR8GH8H9');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KRXZFS2Q');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 문제 및 퀴즈 모음 | 컴싸 </title>
    <link rel="icon" type="image/svg+xml" th:href="|${baseUrl}/img/mainLogo.svg|">

    <meta name="description" content="CS(컴퓨터 사이언스) 문제를 풀며 개념을 복습하고 면접에 대비해보세요. 다양한 분야의 CS 문제 모음과 해설을 제공합니다.">

    <link rel="stylesheet" th:href="|${baseUrl}/css/globals.css|" />
    <link rel="stylesheet" th:href="|${baseUrl}/css/index/styleguide.css|" />
    <link rel="stylesheet" th:href="|${baseUrl}/css/index/style.css|" />
    <script th:src="|${baseUrl}/js/chooseQuestionType.js|"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRXZFS2Q"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="screen">
    <div class="big-box">
        <h1 class ="siteDescription">CS 문제 모음 </h1>
        <div class="main-logo-box">
            <img th:src="|${baseUrl}/img/mainLogo.svg|" alt="CS Solver Logo" class="logo-image">
            <h2 class ="mainTitle">컴퓨터 사이언스</h2>
        </div>
        <form th:action="@{/question/normal}" method="get" class ="mainForm">
            <div class="main-box">
                <p class="question-title-box">
                    분야와 난이도를 선택하세요. (복수 선택 가능)
                    <!--                    <span class="questionSelect"></span>-->
                </p>
                <div class="selectBox">
                    <!-- 분야 선택 -->
                    <div class="category-big-box side-box">
                        <h2 class="standard">CS 분야</h2>
                        <div class="scroll-box">
                            <div class="categories" th:each="category, iterStat : ${categories}">
                                <div class="each-category">
                                    <input type="checkbox" th:id="${'category-' + iterStat.index}" th:value="${category}" name="categories" class="checkbox" />
                                    <label th:for="${'category-' + iterStat.index}" class="text-wrapper-2" th:text="${category}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img th:src="|${baseUrl}/img/line-4.svg|" class="line-4">
                    <!-- 난이도 선택 -->
                    <div class="level-big-box side-box">
                        <h2 class="standard">난이도</h2>
                        <div class="scroll-box">
                            <div class="levels">
                                <div class="each-level" th:each="difficulty : ${levels}">
                                    <input type="checkbox" th:id="${'difficulty-' + difficultyStat.index}" th:value="${difficulty}" name="levels" class="checkbox" />
                                    <label th:for="${'difficulty-' + difficultyStat.index}" class="check-box-text" th:text="${difficulty}"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 문제 유형을 Boolean으로 설정 -->
                <input type="hidden" name="multipleChoice" id="questionType" value="" />

            </div>



            <div class="start-button-container">
                <button type="submit" class="start-left-box" onclick="makeMultipleChoice(true)">
                    <span class="start-button-text">객관식</span>
                </button>
                <button type="submit" class="start-right-box" onclick="makeMultipleChoice(false)">
                    <span class="start-button-text">주관식</span>
                </button>
            </div>

        </form>
    </div>
</div>
</body>
</html>