<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/styleguide.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/style.css}" />
</head>
<body>
<div class="screen">
    <div class="big-box">
        <form th:action="@{/question/normal}" method="get">
            <div class="main-box">
                <div class="category-big-box">
                    <div class="text-wrapper">분야</div>
                    <div class="category-box">
                        <div class="categories" th:each="category, iterStat : ${categories}">
                            <div class="each-category">
                                <input type="checkbox" th:id="${'category-' + iterStat.index}" th:value="${category}" name="categories" class="checkbox" />
                                <label th:for="${'category-' + iterStat.index}" class="text-wrapper-2" th:text="${category}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="line-4" th:src="@{/img/line-4.svg}" />
                <div class="level-box">
                    <div class="text-wrapper">난이도</div>
                    <div class="levels">
                        <div class="each-level" th:each="difficulty : ${levels}">
                            <input type="checkbox" th:id="${'difficulty-' + difficultyStat.index}" th:value="${difficulty}" name="levels" class="checkbox" />
                            <label th:for="${'difficulty-' + difficultyStat.index}" class="check-box-text" th:text="${difficulty}"></label>
                        </div>
                    </div>
                </div>
                <p class="question-title-box">
                    <span class="question-title">&lt;문제 선택&gt;<br /></span>
                    <span class="text-wrapper-3">원하는 분야와 난이도를 선택하세요. (복수 선택 가능)</span>
                </p>
            </div>
            <div class="logo-container">

            </div>
            <div class="main-logo-box">
                <img src="/img/mainLogo.svg" alt="CS Solver Logo" class="logo-image">
                CS Solver
            </div>
            <button type="submit" class="start-box">
                <span class="start-button-text">시작하기</span>
            </button>
        </form>
    </div>
</div>
</body>
</html>