<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBBR8GH8H9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-QBBR8GH8H9');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS 문제 및 퀴즈 모음 | 컴싸</title>
    <link rel="icon" type="image/svg+xml" th:href="|${baseUrl}/img/mainLogo.svg|">
    <link rel="stylesheet" th:href="|${baseUrl}/css/globals.css|" />
    <link rel="stylesheet" th:href="|${baseUrl}/css/license-index/styleguide.css|" />
    <link rel="stylesheet" th:href="|${baseUrl}/css/license-index/style.css|" />
    <script th:src="|${baseUrl}/js/license-index/chooseQuestionType.js|"></script>
</head>
<body>
<div class="screen">
    <div class="big-box">
        <h1 class="siteDescription">CS 문제 모음</h1>
        <div class="main-logo-box">
            <img th:src="|${baseUrl}/img/mainLogo.svg|" alt="CS Solver Logo" class="logo-image">
            <h2 class="mainTitle">Com Ssa</h2>
        </div>
        <form th:action="@{/question/license}" method="get" class="mainForm">
            <div class="main-box">
                <p class="question-title-box">자격증 분야와 회차를 선택하세요.</p>
                <div class="selectBox">
                    <!-- 분야 선택 -->
                    <div class="category-big-box side-box">
                        <h2 class="standard">자격증 분야</h2>
                        <div class="scroll-box">
                            <div class="categories" th:each="category, iterStat : ${licenseCategories}">
                                <div class="each-category">
                                    <input type="radio" th:id="${'category-' + iterStat.index}" th:value="${category.originalName}" name="category" class="radio" onchange="fetchSessions(this.value)">
                                    <label th:for="${'category-' + iterStat.index}" class="text-wrapper-2" th:text="${category.korean}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img th:src="|${baseUrl}/img/line-4.svg|" class="line-4">

                    <!-- 회차 선택 -->
                    <div class="level-big-box side-box">
                        <h2 class="standard">회차</h2>
                        <div class="scroll-box">
                            <div id="session-list" class="levels">
                                <!-- JavaScript를 통해 동적으로 회차 데이터를 추가합니다 -->
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="multipleChoice" id="questionType" value="" />
            </div>
        </form>
    </div>
</div>
</body>
</html>