<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/normal-question/styleguide.css" />
    <link rel="stylesheet" href="/css/normal-question/style.css" />
</head>
<body>
<div class="quiz">
    <div class="div">
        <div class="text-wrapper">CS Solver</div>
        <div class="list">
            <div class="DB-wrapper"><div class="DB">컴퓨터 구조</div></div>
            <div class="element">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">1번</div></div>
                        <div class="div-wrapper"><div class="text-wrapper-3">중</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">User Interface 설계 시 오류 메시지나 경고에 관한 지침으로 가장 거리가 먼 것은?</p>
                        <p class="div-4">
                  <span class="span"
                  >① 소프트웨어가 무엇을 해야하는가를 추적하여 요구사항 명세를 작성하는 작업이다.<br
                  /></span>
                            <span class="text-wrapper-4"
                            >② 사용자의 요구를 추출하여 목표를 정하고 어떤 방식으로 해결할 것인지 결정하는 단계이다.<br
                            /></span>
                            <span class="span"
                            >③ 소프트웨어 시스템이 사용되는 동안 발견되는 오류를 정리하는 단계이다.<br />④ 소프트웨어 개발의
                    출발점이면서 실질적인 첫 번째 단계이다.</span
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">2번</div></div>
                        <div class="div-wrapper-2"><div class="text-wrapper-5">상</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">UML 다이어그램 중 순차 다이어그램에 대한 설명으로 틀린 것은?</p>
                        <p class="text-wrapper-6">
                            ① 객체 간의 동적 상호작용을 시간 개념을 중심으로 모델링 하는 것이다.<br />② 주로 시스템의 정적 측면을
                            모델링하기 위해 사용한다.<br />③ 일반적으로 다이어그램의 수직 방향이 시간의 흐름을 나타낸다.<br />④
                            회귀 메시지(Self-Message), 제어블록(Statement block) 등으로 구성된다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">3번</div></div>
                        <div class="div-wrapper-3"><div class="text-wrapper-5">하</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">메시지 지향 미들웨어(Message-Oriented Middleware, MOM)에 대한 설명으로 틀린 것은?</p>
                        <p class="text-wrapper-6">
                            ① 느리고 안정적인 응답보다는 즉각적인 응답이 필요한 온라인 업무에 적합하다.<br />② 독립적인
                            애플리케이션을 하나의 통합된 시스템으로 묶기 위한 역할을 한다.<br />③ 송신측과 수신측의 연결 시 메시지
                            큐를 활용하는 방법이 있다.<br />④ 상이한 애플리케이션 간 통신을 비동기 방식으로 지원한다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">4번</div></div>
                        <div class="div-wrapper-3"><div class="text-wrapper-5">하</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">익스트림 프로그래밍에 대한 설명으로 틀린 것은?</p>
                        <p class="text-wrapper-6">
                            ① 대표적인 구조적 방법론 중 하나이다.<br />② 소규모 개발 조직이 불확실하고 변경이 많은 요구를 접하였을
                            때 적절한 방법이다.<br />③ 익스트림 프로그래밍을 구동시키는 원리는 상식적인 원리와 경험을 최대한 끌어
                            올리는 것이다.<br />④ 구체적인 실천 방법을 정의하고 있으며, 개발 문서 보다는 소스코드에 중점을 둔다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">5번</div></div>
                        <div class="div-wrapper"><div class="text-wrapper-3">중</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">유스케이스(Use Case)의 구성 요소 간의 관계에 포함되지 않는 것은?</p>
                        <p class="text-wrapper-6">① 연관<br />② 확장<br />③ 구체화<br />④ 일반화</p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">6번</div></div>
                        <div class="div-wrapper-2"><div class="text-wrapper-5">상</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">요구사항 분석에서 비기능적(Nonfunctional) 요구에 대한 설명으로 옳은 것은?</p>
                        <p class="text-wrapper-6">
                            ① 시스템의 처리량(Throughput), 반응 시간 등의 성능 요구나 품질 요구는 비기능적 요구에 해당하지
                            않는다.<br />② &#39;차량 대여 시스템이 제공하는 모든 화면이 3초 이내에 사용자에게 보여야 한다&#39;는
                            비기능적 요구이다.<br />③ 시스템 구축과 관련된 안전, 보안에 대한 요구사항들은 비기능적 요구에 해당하지
                            않는다.<br />④ &#39;금융 시스템은 조회, 인출, 입금, 송금의 기능이 있어야 한다&#39;는 비기능적
                            요구이다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="DB-wrapper"><div class="DB">자료구조</div></div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">7번</div></div>
                        <div class="div-wrapper-2"><div class="text-wrapper-5">상</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">정보공학 방법론에서 데이터베이스 설계의 표현으로 사용하는 모델링 언어는?</p>
                        <p class="text-wrapper-6">
                            ① Package Diagram<br />② State Transition Diagram<br />③ Deployment Diagram<br />④ Entity-Relationship
                            Diagram
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">8번</div></div>
                        <div class="div-wrapper-3"><div class="text-wrapper-5">하</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">미들웨어(Middleware)에 대한 설명으로 틀린 것은?</p>
                        <p class="text-wrapper-6">
                            ① 여러 운영체제에서 응용 프로그램들 사이에 위치한 소프트웨어이다.<br />② 미들웨어의 서비스 이용을 위해
                            사용자가 정보 교환 방법 등의 내부 동작을 쉽게 확인할 수 있어야 한다.<br />③ 소프트웨어 컴포넌트를
                            연결하기 위한 준비된 인프라 구조를 제공한다.<br />④ 여러 컴포넌트를 1대 1, 1대 다, 다대 다 등 여러
                            가지 형태로 연결이 가능하다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">9번</div></div>
                        <div class="div-wrapper-3"><div class="text-wrapper-5">하</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">UI의 설계 지침으로 틀린 것은?</p>
                        <p class="text-wrapper-6">
                            ① 이해하기 편하고 쉽게 사용할 수 있는 환경을 제공해야 한다.<br />② 주요 기능을 메인 화면에 노출하여
                            조작이 쉽도록 하여야 한다.<br />③ 치명적인 오류에 대한 부정적인 사항은 사용자가 인지할 수 없도록
                            한다.<br />④ 사용자의 직무, 연령, 성별 등 다양한 계층을 수용하여야 한다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="view-wrapper">
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number"><div class="text-wrapper-2">10번</div></div>
                        <div class="div-wrapper"><div class="text-wrapper-3">중</div></div>
                    </div>
                    <div class="div-3">
                        <p class="p">
                            명백한 역할을 가지고 독립적으로 존재할 수 있는 시스템의 부분으로 넓은 의미에서는 재사용되는 모든
                            단위라고 볼 수 있으며, 인터페이스를 통해서만 접근할 수 있는 것은?
                        </p>
                        <p class="text-wrapper-6">① Model<br />② Sheet<br />③ Component<br />④ Cell</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="image" src="img/image.svg" />
        <div class="view-2">
            <div class="overlap-group"><img class="line-stroke" src="img/line-2-stroke.svg" /></div>
            <div class="text-wrapper-7">진행률 3/30 (10%)</div>
        </div>
        <div class="frame">
            <img class="back-to" src="img/back-to.png" />
            <div class="text-wrapper-8">메인화면</div>
        </div>
        <div class="view-3">
            <div class="view-4">
                <div class="frame-2"><div class="text-wrapper-9">채점</div></div>
                <div class="view-5"></div>
            </div>
            <div class="view-6">
                <div class="frame-3"><div class="text-wrapper-10">해설 보기 ▼</div></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>