<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/normal-question/styleguide.css" />
    <link rel="stylesheet" href="/css/normal-question/style.css" />
</head>
<body>
<div class="quiz">
    <div class="div">
        <div class="text-wrapper">CS Solver</div>
        <div class="list">
            <!-- 질문 리스트 반복 렌더링 -->
            <div class="view-wrapper" th:each="question, iterStat : ${questions}">
<!--                <div class="DB-wrapper"><div class="DB" th:text="${question.questionCategory.korean}"></div></div>-->
                <div class="view">
                    <div class="div-2">
                        <div class="quiz-number">
                            <div class="text-wrapper-2" th:text="${iterStat.index + 1} + '번'"></div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper-3" th:text="${question.questionLevel.korean}"></div>
                        </div>
                    </div>
                    <div class="div-3">
                        <p class="p" th:text="${question.question}"></p>
                        <div class="text-wrapper-6">
                            <!-- 선택지 리스트 반복 렌더링 및 번호 추가 -->
                            <div th:each="choice, choiceStat : ${question.normalQuestionChoices}" th:text="${choiceStat.index + 1} + '. ' + ${choice.text}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 해설창 유지 -->
        <img class="image" src="img/image.svg" />
        <div class="view-2">
            <div class="overlap-group"><img class="line-stroke" src="img/line-2-stroke.svg" /></div>
            <div class="text-wrapper-7">진행률 3/30 (10%)</div>
        </div>
        <div class="frame">
            <img class="back-to" src="img/back-to.png" />
            <div class="text-wrapper-8">메인화면</div>
        </div>
        <div class="view-3">
            <div class="view-4">
                <div class="frame-2"><div class="text-wrapper-9">채점</div></div>
                <div class="view-5"></div>
            </div>
            <div class="view-6">
                <div class="frame-3"><div class="text-wrapper-10">해설 보기 ▼</div></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>